# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.coverage
.coverage.*
.cache
.python-version
*.egg-info/
*.egg
*.whl
.venv/
venv/
env/
ENV/
.env
.mypy_cache/
*.sage.py

# Distribution / Packaging
build/
dist/
develop-eggs/
sdist/
*.spec
*.manifest
*.installed.cfg
pip-log.txt
pip-delete-this-directory.txt
wheels/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
var/

# Django-specific
*.log
*.pot
db.sqlite3
media/
celerybeat-schedule.*

# Jupyter Notebook
.ipynb_checkpoints/

# IDE-specific (PyCharm, VS Code, Sublime Text, IntelliJ)
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
out/
*.iws
atlassian-ide-plugin.xml
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
Package Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings
.history/

# OS-specific
*.bak

# Documentation
site/

# Other
*.sqlitedb
*.sqlite3-journal